{% extends "base.html" %}

{% block content %}
<div class="mx-auto px-4 sm:px-6 lg:px-8">
  <h2 class="text-2xl text-flisol font-semibold uppercase text-center">
    Installfest
  </h2>
  <div class="mt-8">
    <p>
      O Installfest é uma oficina destinada para que a comunidade instale ou tire dúvidas sobre o distribuições Linux
      e aplicativos de código aberto no Linux, Windows e macOS.
    </p>

    <h3 class="mt-4 mb-2 text-base text-flisol font-semibold uppercase">
      A quem de destina?
    </h3>
    <p>
      A todos que desejam usar software livre de alguma forma. Você provalmente gostará de participar se deseja:
    </p>
    <ul class="list-disc list-inside mt-2">
      <li>Usar Linux (openSUSE, Fedora, Ubuntu, entre outras distribuições).</li>
      <li>Instalar aplicativos de código aberto no Linux, Windows ou macOS (LibreOffice, Firefox, entre outros).</li>
    </ul>

    <h3 class="mt-4 mb-2 text-base text-flisol font-semibold uppercase">
      Regras
    </h3>
    <ul class="list-disc list-inside mt-2">
      <li>Traga preferencialmente o seu notebook, desktops poderão ser um problema devido ao espaço limitado.</li>
      <li>Traga carregadores, adaptadores para o padrão novo e se possível extensões.</li>
      <li>
        Para instalar aplicativos durante o evento você deverá assinar a um termo de resposabilidade onde
        concordará que todo e qualquer problema decorrente do sistema operacional ou dos aplicativos agregados
        não é responsabilidade dos organizadores do FLISoL e/ou dos patrocinadores, apoiadores e organizadores
        do evento.
      </li>
      <li>Não nos resposabilizaremos backups. Faça backup antes do evento.</li>
      <li>Não nos resposabilizaremos pelo transporte do seu equipamento.</li>
      <li>
        Não nos resposabilizaremos por furtos e roubos de equipamentos.
        Lembre-se, você estará em um ambiente público, tome cuidado com o seu equipamento.
      </li>
    </ul>
  </div>
</div>
{% endblock %}